.half-width{
    margin: 5%;
    float: left;
    width: 40%;
}
.name{
    color: palevioletred;
    font-size: 50px;
}
.half-width img{
    width: 90%;
}
.first-half{
    margin-top: 12%;
}
.first-section{
    height: 600px;
}
.second-section{
    height: 700px;
}
.first-section{
    background-image: url(images/header-bg.png);
}
.link-button{
    text-decoration: none;
    background-color: palevioletred;
    padding: 8px 15px;
    color: white;  
}
.second-half{
    padding-top: 7%;
}
.second-section{

    background-image: url(images/biography-bg.png);
}
.second-image img{
    width: 70%;
}
.one-third{
    float: left;
    width: 25%;
    padding-left: 2%;
}
.one-third img{
    width: 100%;
}
.third-section{
    padding-left:13%;
    padding-top: 3%;
    height: 350px;
    background-image: url(images/latest-work-bglatest.png);
}
.center{
    padding-left: 35%;
}
.last-part1{
    padding-left: 41.5%;
}
.last-part2{
    padding-left: 45.3%;
}
.last-part3{
    padding-left: 43.5%;
    font-weight: 700;
}
.last-part4{
    padding-left: 39%;
    padding-top: 2%;
}
.last-part5{
    padding-left: 38%;
}
.last-section{
    padding-top: 5%;
    height: 500px;
    background-image: url(images/suaad2.png);
}
.last-part6{
    margin-left: 35%;
    margin-right: 36.5%;
    padding-top: .5%;
    background-image: url(images/suaad.png);
    border-radius: 10px;
    height: 100px;
    
    
}
.messege{
    padding-left: 109px;
    font-size: large;
    color: white;
}
.email{
    padding-left: 63px;
    font: 800;
    font-size: x-large;
    color: white;
   
    
   
}
